.subreddits{
    width: 100%;
    max-height: 300px;
    background-color: white;
    grid-column: 12 / 15;
    margin-top: 100px;
    text-align: start;
    padding-left: 20px;
}
.subreddits > p{
    cursor: pointer;
}
@media screen and (max-width: 820px){
    .subreddits{
        display: none;
    }
}
.subreddit-list-item{
    color: black;
}
.subreddit-list-item > a{
    color: rgba(0, 0, 0, 0.801);
    text-decoration: none;
}
.subreddit-list-item > a:hover{
    color: black;
}