.head{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 900;
    height: 48px;
    color: #FF5700;
    display: flex;
    width: 100%;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.39));
}
.header{
    align-self: center;
}
.logo{   
    margin-left: 20px;
    font-size: 0.8rem;
}
.search-bar{
    align-self: center;
    margin: 0 50px 0 auto;
}
.search{
    height: 30px;
    width: 300px;
}
